<div class='container-fluid'>
    {{#events}}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body">

            <p>{{ description }}</p>
        </div>
    </div>
    {{/events}}
</div>